@import 'address.css';
@import 'schedule.css';
@import 'map.css';

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, small,
form, label, input, textarea, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-family: sans-serif;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.app {
  width: 250px;
  background: #fafafa;
}

.app-title {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.app-title > h1 {
  margin: 10px 0 0 5px;
  font-size: 20px;
}

.app-title > h1 > span {
  font-weight: bold;
}

.map {
  border: 1px solid #b2dba1;
  width: 248px;
  height: 248px;
}

.loader {
  border: 3px solid #fafafa;
  border-top: 3px solid black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0 { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
