.reminder-list > h1 {
  font-weight: bold;
  padding-left: 10px
}

.reminder-list > div {
  padding-left: 15px;
}

.reminder-list > select {
  margin: 5px 0 0 15px;
}

.reminder-list > ol {
  padding-left: 35px;
}

.rem-list {
  display: flex;
  justify-content: space-between;
}

.rem-list-first-child {
  text-decoration: underline;
}

.rem-list-last-child {
  font-weight: bold;
  margin-right: 10px;
  height: 17px;
  border: 1px solid black;
  border-radius: 5px;
}

.rem-list-last-child-saved {
  font-weight: bold;
  margin-right: 10px;
}

.rem-list-last-child:hover {
  cursor: pointer;
}

.rem-list-hightlighted {
  display: flex;
  justify-content: space-between;
  background: yellow;
}

.rem-hide {
  visibility: hidden;
}
